<br>
<style>
  @media screen and (min-width: 992px){
    .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }
    .card-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .product-content{
      padding-top: 0;
    }
  }
  .styled-table {
    border-collapse: collapse;
    width:76%;
    margin-left:12%;
    margin-right:12%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #009879;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 30px 15px;
  }

  th{
    border: solid grey 2px;
  }

  .total_area span {
    float: right;
  }

  .total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
  }



  #form-box {
    height: content;
    padding: 2em 3.5em;
    border-top: 50px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
  }

  #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #e8e8e8;
  }

  .form-header {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px;
  }

  .form-input:not(:last-child) {
    margin-bottom: 15px;
  }


</style>
<div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "{{product.image}}" alt = "shoe image">
         </div>
      </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 >{{product.name}}</h2>
      <a class = "product-link">{{product.brand}}</a>
      <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>{{avgRating}}({{sum}})</span>
      </div>

      <div class = "product-price">
        <p *ngIf="product.promotion" class = "last-price">Old Price: <span>{{product.price}}€</span></p>
        <p class = "new-price" *ngIf="product.promotion == null">Price: <span>{{product.price}}€</span></p>
        <p class = "new-price" *ngIf="product.promotion">New Price: <span>{{product.price - product.price*product.promotion.discount}}€</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        <p>{{ product.description }}</p>
        <ul>
          <li>Category: <span>{{ product.category }}</span></li>
          <li>Condition: <span>{{product.condition}}</span></li>
          <li>Seller: <span>{{product.seller}}</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <form (ngSubmit)="addToCart()">
          <input [formControl]="quantity" type= "number" min = "0" value = "1">
          <button type = "submit" class = "btn">
            Add to Cart <i class = "fas fa-shopping-cart"></i>
          </button>
        </form>

      </div>
  </div>
    <div class="padding-right">
      <div class="" >
        <h2 class="title text-center" style="font-size:2rem">Reviews</h2>
        <h2 *ngIf="comments.length == 0" class="text-center title"> No reviews yet</h2>
        <div  *ngFor="let c of comments">
          <div class=" ">
            <div class="">
              <div class="" style="border: #2a6496; border-style: solid; margin:15px">
                <h1 style="color:orange">{{ c.userName }} </h1>
                <p>{{ c.commentDate }}</p>
                <label><b>Description: </b></label>
                <a>{{ c.description }}</a>



                <h3 *ngFor="let a of c.stars" >
                  <i *ngIf="a==1" class = "fas fa-star"></i>
                  <i *ngIf="a==0" class = "fas fa-star-half-alt"></i>
                </h3>


                <h3>

                </h3>

              </div>
            </div>
          </div>
        </div>
      </div>


</div><div class="col-md-4 col-md-offset-4">
    <div class="login-form"><!--login form-->
      <h2 class="title text-center" style="font-size:2rem">Write Your Review</h2>
      <form id="form-box" *ngIf="commentForm" method="post" [formGroup]="commentForm"  >


        <div class="form-header" style=" font-size: 20px">Create Promotion</div>
        <br>
        <div>

          <p *ngIf="commentForm.controls['description'].invalid" style="color:red; font-size: 18px">Insert a Comment</p>
          <input formControlName="description" type="text"   class="form-input"/>

          <p *ngIf="commentForm.controls['rating'].invalid" style="color:red; font-size: 18px">Select a Rating</p>
          <input formControlName="rating" type="number"  class="form-input"/>

        </div>
        <input style="font-size: 16px"type="submit"  (click)="create()" class="btn btn-default check_out" value="Create New"/>
      </form>

    </div>
  </div>
  </div></div>
<router-outlet></router-outlet>
