.styled-table {
  border-collapse: collapse;
  width:76%;
  margin-left:12%;
  margin-right:12%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}
.styled-table thead tr {
  background-color: #009879;
  color: #009879;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 30px 15px;
}


.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px  #009879;
}

.styled-table tbody tr.active-row {
  color: #009879;
}

th{
  border: solid grey 2px;
}



.cart {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}



#do_action {
  margin-bottom: 50px;
}

.breadcrumbs {
  position: relative;
}
