
<div    style="  margin:auto;
                      width:20%;
                      padding:63px;
                     ">
  <div class="login-form"><!--login form-->
    <h2>Login to your account</h2>
    <form [formGroup]="loginForm">
      <input [formControlName]="username" type="text" placeholder="Username" />
      <input [formControlName]="password" name="pass" type="password" placeholder="Password" />
      <span style="float:left;"> Don't have an account?</span>
      <span><a style="float:right;"  > Signup </a> </span>

      <button style="float:right;" type="submit" class="btn btn-default">Login</button>

    </form>
  </div><!--/login form-->
</div>

<router-outlet></router-outlet>

