
<style>

  #cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0
  }

  #cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
  }

  .cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
  }

  #cart_items .cart_info .image {
    padding-left: 30px;
  }

  #cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
  }

  #cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }

  #cart_items .cart_info .cart_description p {
    color: #696763
  }

  #cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
  }

  #cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
  }

  .cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
  }

  .cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    line-height: 28px;
  }
  .cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
  }

  .cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
  }

  .cart_delete a:hover {
    background: #FE980F
  }

  .bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
  }

  #do_action .total_area {
    padding-bottom: 18px !important;
  }

  #do_action .total_area,
  #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
  }

  .total_area span {
    float: right;
  }

  .total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
  }

  .user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
  }

  .user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
  }

  .user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
  }

  .user_info .single_field {
    width: 31%
  }

  .user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid#F0F0E9
  }

  .user_info>li {
    float: left;
    margin-right: 10px
  }

  .user_info>li>span {}

  .user_info input,
  select,
  textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
  }

  .user_info select:focus {
    border: 0
  }

  .chose_area .update {
    margin-left: 40px;
  }

  .update,
  .check_out {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
  }

  .update {
    margin-left: 40px;
  }

  .check_out {
    margin-left: 20px
  }

  #form-box {
    height: content;
    padding: 2em 3.5em;
    border-top: 50px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
  }

  #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #e8e8e8;
  }

  .form-header {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px;
  }

  .form-input:not(:last-child) {
    margin-bottom: 15px;
  }
</style>
<section id="cart_items">
  <div class="container">
  <br><br>
    <div class="table-responsive cart_info">
      <table class="table table-condensed" style="margin: 0 auto;width:80%; margin-left: 10%; margin-right: 10%">
        <thead>

        <tr class="cart_menu">
          <td class="image">Item</td>
          <td class="description">Description</td>
          <td class="description">Description</td>
          <td class="quantity">Quantity</td>
          <td class="price">Price</td>

        </tr>
        </thead>
        <tbody>


        <tr *ngFor="let item of cart | keyvalue" >
          <td class="col-sm-3 cart_product">
            <a href=""><img style="width: 200px" src="{{ item.key.image }}" alt=""></a>
          </td>
          <td class="cart_description">
            <h4><a href="">{{ item.key.name }}</a></h4>
            <p>Web ID: {{ item.key.id }}</p>
          </td>
          <td class="cart_price" style="max-width:300px">
            <p>{{ item.key.description }}</p>
          </td>
          <td class="cart_quantity">
            <div class="cart_quantity_button">
              <a class="cart_quantity_input" type="text" name="quantity"  autocomplete="off" size="2">{{ item.value }}</a>
              <a class="cart_quantity_delete" (click)="addToCart(item.key)" type="submit" ><i class="fa fa-times"></i></a>

            </div>
          </td>
          <td class="cart_total">
            <p class="cart_total_price">{{ item.key.price }}€</p>
            <p *ngIf="item.key.promotion" class="cart_total_price" style="color:blue">-{{ item.key.price*item.key.promotion.discount }}€</p>

          </td>

        </tr>


        </tbody>
      </table>
    </div>
  </div>


  <div class="row" style="width:80%; margin-left: 10%; margin-right: 10%">
    <div class="col-sm-6">
      <div class="total_area">
        <ul>

          <li>Cart Sub Total <span>{{ subtotal }}</span></li>
          <li>Discount <span>{{ discount }}</span></li>
          <li>Total <span>{{ total }}</span></li>
        </ul>


      </div>
    </div>
  </div>

</section>


<div *ngIf="checkoutForm && total!=0" style="margin-right: 20%; margin-left: 20%" >
  <form id="form-box"  [formGroup]="checkoutForm" method="post" (ngSubmit)="checkout()">
    <div id="form-title">Checkout</div>

    <div class="form-header">Payment Method</div>
    <div>
      <p *ngIf="checkoutForm.controls['type'].invalid" style="color:red">Choose a Card Type</p>
      <select formControlName="type" style="width:30%; margin-right: 10px">
        <option>
          Credit Card
        </option>
        <option>
          Debit Card
        </option>
      </select>
      <br>
      <div class="form-header">Card Number</div>
      <p *ngIf="checkoutForm.controls['cardno'].invalid" style="color:red">Invalid Card Number, must be 16 digits</p>
      <input formControlName="cardno" type="text" class="form-input"  [(ngModel)]="cardNo" />
      <div class="form-header">CVC</div>
      <p *ngIf="checkoutForm.controls['code'].invalid" style="color:red">Invalid Card Code, must be 3 digits</p>
      <input type="number" formControlName="code" style="width:20%" class="form-input" />
      <div class="form-header">Date</div>
      <p *ngIf="checkoutForm.controls['month'].invalid" style="color:red">Invalid Month, must be MM</p>
      <p *ngIf="checkoutForm.controls['year'].invalid" style="color:red">Invalid Year, must be YYYY</p>
      <input type="number" formControlName="month" class="form-input" style="width:20%" placeholder="MM" />
      <input type="number" formControlName="year" class="form-input" style="width:20%" placeholder="YYYY" />
    </div>




    <div class="form-header">Credis</div>
    <p *ngIf="checkoutForm.controls['credits'].invalid" style="color:red">Invalid Credits, must be less than {{credits}} and {{total}}</p>
    <input formControlName="credits" type="number" class="form-input" />

    <div class="form-header">Address</div>
    <input formControlName="address" class="form-input" id="region" />


    <input [disabled]="checkoutForm.invalid" type="submit"  class="btn btn-default check_out" style="float:right" value="CheckOut">
  </form>

</div>


<br>





<router-outlet></router-outlet>
