
<div>
  <div class="container " >
    <div class="row">
      <div class="col-sm-12">

        <div class="navbar">
          <a  >Home</a>
          <a routerLink="/shop" >Products</a>
          <a  >Cart</a>

          <!--{% if user.is_authenticated %}-->
          <div class="dropdown">
            <button class="dropbtn" style="color: darkorange">Management
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a ><i class="fa fa-cog"></i>  Products </a>
              <a  ><i class="fa fa-cog"></i> Promotions </a>
              <a ><i class="fa fa-cog"></i> Users </a>
              <a ><i class="fa fa-cog"></i> Comments </a>
            </div>
          </div>
          <a href="" style="float:right" routerLink="/account">Profile</a>
          <a style="float:right"><i class="icon-signout"></i>Logout </a>
        </div>


      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
