<style>

  #cart_items .cart_info .cart_menu {
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
  }

  #cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
  }

  #cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0
  }

  #cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
  }

  .cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
  }

  #cart_items .cart_info .image {
    padding-left: 30px;
  }

  #cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
  }

  #cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }

  #cart_items .cart_info .cart_description p {
    color: #696763
  }

  #cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
  }

  #cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
  }

  .cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
  }

  .cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    line-height: 28px;
  }

  .cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
  }

  .cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
  }

  .cart_delete a:hover {
    background: #FE980F
  }

  .bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
  }

  #do_action .total_area {
    padding-bottom: 18px !important;
  }

  #do_action .total_area,
  #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
  }

  .total_area span {
    float: right;
  }

  .total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
  }

  .user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
  }

  .user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
  }

  .user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
  }

  .user_info .single_field {
    width: 31%
  }

  .user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid#F0F0E9
  }

  .user_info>li {
    float: left;
    margin-right: 10px
  }

  .user_info>li>span {}

  .user_info input,
  select,
  textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
  }

  .user_info select:focus {
    border: 0
  }

  .chose_area .update {
    margin-left: 40px;
  }

  .update,
  .check_out {
    background: #FE980F;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
  }

  .update {
    margin-left: 40px;
  }

  .check_out {
    margin-left: 20px
  }

  #form-box {
    height: content;
    padding: 2em 3.5em;
    border-top: 50px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
  }

  #form-title {
    font-size: 1.6em;
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid #e8e8e8;
  }

  .form-header {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .form-input {
    width: 70%;
    height: 30px;
    font-size: 16px;
    padding-left: 6px;
  }

  .form-input:not(:last-child) {
    margin-bottom: 15px;
  }


</style>

<div style="  margin:auto;
          width:90%;
          padding:10px;">



    <div class="row "  >
      <div class="col-sm-12"   >


        <p></p>
        <table class="styled-table" style="margin: 0 auto; width:100%; border: solid black 2px;">
          <tr style="background-color: darkorange; color:white">
            <th style="font-size: 18px">Name</th>
            <th style="font-size: 18px">Price</th>
            <th style="font-size: 18px" >Description</th>
            <th style="font-size: 18px">Quantity</th>
            <th style="font-size: 18px">Condition</th>
            <th style="font-size: 18px">Seller</th>
            <th style="font-size: 18px">Brand</th>
            <th style="font-size: 18px">Category</th>
            <th style="font-size: 18px">Promotion</th>
            <th style="font-size: 18px" >Image</th>
            <th style="font-size: 18px">Update</th>
            <th style="font-size: 18px"> Remove</th>
          </tr>

          <tr *ngFor="let product of
           products">
            <th >{{ product.name }}</th>
            <th >{{ product.price }}</th>
            <th >{{ product.description }}</th>
            <th>{{ product.quantity }}</th>
            <th>{{ product.condition }}</th>
            <th>{{ product.seller }}</th>
            <th>{{ product.brand }}</th>
            <th>{{ product.category }}</th>
            <th *ngIf="product.promotion">{{ product.promotion.name }}</th>
            <th *ngIf="!product.promotion">-------</th>
            <th>   <img style="height:100px" src="{{ product.image }}" alt="" /></th>
            <th><a class="btn btn-sm btn-info" (click)="createUpdateForm(product)" >Update</a></th>
            <th><button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)" >Delete</button></th>
          </tr>
        </table>
      </div>
    </div>

  <br>
  <div>
    <div >

      <div *ngIf="productForm " >
        <form style="magin: 0 auto; width: 800px; " id="form-box"  method="post"  [formGroup]="productForm"  >


          <h2 class="form-header" style="font-size: 22px">Create Product</h2>
          <div>
            <p *ngIf="productForm.controls['name'].invalid" style="color:red; font-size: 18px">Insert a name for the Product</p>
            <input formControlName="name" type="text" *ngIf="currentProduct" [(ngModel)]="currentProduct.name" class="form-input"/>
            <input formControlName="name" type="text" *ngIf="!currentProduct"  class="form-input"/>
            <br>
            <p *ngIf="productForm.controls['description'].invalid" style="color:red; font-size: 18px">Insert a Description</p>
            <input formControlName="description" *ngIf="currentProduct" [(ngModel)]="currentProduct.description"  type="text" class="form-input"/>
            <input formControlName="description" *ngIf="!currentProduct" type="text" class="form-input"/>

            <p *ngIf="productForm.controls['brand'].invalid" style="color:red; font-size: 18px">Insert a brand for the Product</p>
            <input formControlName="brand" *ngIf="currentProduct" [(ngModel)]="currentProduct.brand"  type="text" class="form-input"/>
            <input formControlName="brand" *ngIf="!currentProduct" type="text" class="form-input"/>

            <p *ngIf="productForm.controls['quantity'].invalid" style="color:red; font-size: 18px">Insert a Quantity for the Product</p>
            <input formControlName="quantity"  *ngIf="currentProduct" [(ngModel)]="currentProduct.quantity" type="number" class="form-input"/>
            <input formControlName="quantity" *ngIf="!currentProduct" type="number" class="form-input"/>
            <p *ngIf="productForm.controls['price'].invalid" style="color:red; font-size: 18px">Insert a Price</p>
            <input formControlName="price" *ngIf="currentProduct" [(ngModel)]="currentProduct.price"  type="number" class="form-input"/>
            <input formControlName="price" *ngIf="!currentProduct" type="number" class="form-input"/>


            <input formControlName="image"  (change)="onFileChanged($event)" type="file" class="form-input"/>

            <p *ngIf="productForm.controls['category'].invalid" style="color:red; font-size: 18px"></p>
            <br><br>
            <div class="form-header" style="font-size: 18px">Category</div>
            <select formControlName="category" style="width:30%; margin-right: 10px">
              <option *ngFor="let c of CATEGORY">
                {{c}}
              </option>
            </select>

            <div class="form-header" style="font-size: 18px">Promotion</div>
            <select  formControlName="promotion" style="width:30%; margin-right: 10px">

                <option *ngFor="let c of PROMOTIONS" [ngValue]="c">
                  {{c.name}}
                </option>


            </select>
            <div class="form-header" style="font-size: 18px">Condition</div>
            <select formControlName="condition" style="width:30%; margin-right: 10px">
              <option value="New">
                New
              </option>
              <option value="Used">
                Used
              </option>
            </select>
          </div>
          <input type="submit" *ngIf="currentProduct" (click)="update()"  class="btn btn-default check_out" value="Save"/>
          <input style="font-size: 18px; float:right" type="submit"  (click)="create()" class="btn btn-default check_out" value="Create New"/>
          <br><br>
        </form>

      </div>

    </div>
  </div>
<br><br>
</div>

  <footer id="footer"><!--Footer-->

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2021 TechOn . All rights reserved.</p>
          <p class="pull-right">TPW Project</p>
        </div>
      </div>
    </div>

  </footer>
