<div style="  margin:auto;
          width:90%;
          padding:10px;">



    <div class="row "  >
      <div class="col-sm-12"   >
        <br>
        <p>
          <button class="btn btn-sm btn-success"  style="
                    float:right;margin-right:15%"  > Create Product </button>
        </p>
        <br>

        <p></p>
        <table class="styled-table" style="border: solid black 2px;">
          <tr style="background-color: darkorange; color:white">
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Condition</th>
            <th>Seller</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Promotion</th>
            <th>Image</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>

          <tr *ngFor="let product of
           products">
            <th >{{ product.name }}</th>
            <th >{{ product.price }}</th>
            <th >{{ product.description }}</th>
            <th>{{ product.quantity }}</th>
            <th>{{ product.condition }}</th>
            <th>{{ product.seller }}</th>
            <th>{{ product.brand }}</th>
            <th>{{ product.category }}</th>
            <th *ngIf="product.promotion">{{ product.promotion.name }}</th>
            <th *ngIf="!product.promotion">-------</th>
            <th>   <img style="height:100px" src="{{ product.image }}" alt="" /></th>
            <th><a class="btn btn-sm btn-info" >Update</a></th>
            <th><a class="btn btn-sm btn-danger">Delete</a></th>
          </tr>
        </table>
      </div>
    </div>

  <br>
  <div>
    <div style="width:40%; margin-left: 5%; margin-right: 5%; border: 2px solid grey">
  </div>
  <footer id="footer"><!--Footer-->

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2021 TechOn . All rights reserved.</p>
          <p class="pull-right">TPW Project</p>
        </div>
      </div>
    </div>

  </footer>
