<router-outlet></router-outlet>

  <div    style="  margin:auto;
                      width:20%;
                      padding:63px;
                     " *ngIf="user!=null && profileForm" >

      <h2>My Account</h2>
    <form id="form-box"  [formGroup]="profileForm" method="post" (ngSubmit)="save()">
      <div id="form-title">Profile</div>


      <div>
        <div class="form-header">Email</div>
        <p class="form-input" >{{user.email}}</p>

        <div class="form-header">Username</div>
        <input formControlName="username" type="text" class="form-input" [value]="user.username" />

        <div class="form-header">Username</div>
        <input formControlName="password" type="text" class="form-input" value="Insert Your New Or Old Password" />
      </div>



      <p formControlName="credits" type="number"  class="form-input" >Your Credits: {{credits}}</p>
      <p formControlName="credits" type="number"  class="form-input" >Date Joined: {{ user.date_joined }}</p>



      <p>
        <button class="btn btn-sm btn-danger">Delete Account</button>
      </p>
      <p>
        <input type="submit" class="btn btn-sm btn-info" value="Save">
    </form>




  </div>


  <div class="container">
    <div class="table-responsive cart_info">
      <a class="btn btn-fefault cart">Sell An Item</a>
      <a class="btn btn-fefault cart"><i class="fa fa-cog"></i>  My Products </a>
      <a class="btn btn-fefault cart" ><i class="fa fa-cog"></i>  Products Sold </a>
      <hr>
      <h2>History</h2>

    </div>
  </div>
  <section *ngFor="let scart of scarts | keyvalue" id="cart_items" >
    <div class="table-responsive cart_info"   style="width:80%; margin-left: 10%; margin-right: 10%; background-color: lightgrey">
      <table class="table table-condensed"  style="width:100%;">
        <thead>

        <tr class="cart_menu">
          <td class="image">Item</td>
          <td class="description">Description</td>
          <td class="description">Description</td>
          <td class="quantity">Quantity</td>
          <td class="price">Price</td>

        </tr>
        </thead>
        <tbody>


        <tr *ngFor="let item of scart.value " >
          <td class="col-sm-3 cart_product">
            <a href=""><img style="width: 200px" src="{{ item.product.image }}" alt=""></a>
          </td>
          <td class="cart_description">
            <h4><a href="">{{ item.product.name }}</a></h4>
            <p>Web ID: {{ item.product.id }}</p>
          </td>
          <td class="cart_price" style="max-width:300px">
            <p>{{ item.product.description }}</p>
          </td>
          <td class="cart_quantity">
            <div class="cart_quantity_button">
              <a class="cart_quantity_input" type="text" name="quantity"  autocomplete="off" size="2">{{ item.quantity }}</a>
            </div>
          </td>
          <td class="cart_total">
            <p class="cart_total_price">{{ item.product.price }}€</p>
            <p *ngIf="item.product.promotion" class="cart_total_price" style="color:blue">-{{ item.product.price*item.product.promotion.discount }}€</p>

          </td>

        </tr>


        </tbody>
      </table>

      <div class="row" style="width:80%; margin-left: 10%; margin-right: 10%">
        <div class="col-sm-6">
          <div class="total_area">
            <ul>

              <li>Address <span>{{ scart.key.address }}</span></li>
              <li>Credits Used <span>{{ scart.key.usedCredits }}</span></li>
              <li>Total <span>{{ scart.key.total - scart.key.usedCredits }}</span></li>
            </ul>


          </div>
        </div>
      </div>
    </div>


   </section>
<br>

