


<div class="col-sm-4" style="float:left; margin:120px">
      <!--SHOW PRODUCTS-->
      <p><mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select  [(value)]="category" (selectionChange)="searchRemoveAll()">
          <mat-option *ngFor="let c of CATEGORIES" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field></p>

  <p><mat-form-field appearance="fill">
    <mat-label>Brand</mat-label>
    <mat-select  [(value)]="brand" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of BRANDS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>

  <p><mat-form-field appearance="fill">
    <mat-label>Seller</mat-label>
    <mat-select  [(value)]="seller" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of SELLERS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>
  <p><mat-form-field appearance="fill">
    <mat-label>Condition</mat-label>
    <mat-select  [(value)]="condition" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of CONDITIONS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>In Stock?</mat-label>
      <mat-select  [(value)]="inStock" (selectionChange)="searchRemoveAll()">
        <mat-option *ngFor="let c of STOCK" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Discount?</mat-label>
      <mat-select  [(value)]="inPromotion" (selectionChange)="searchRemoveAll()">
        <mat-option *ngFor="let c of PROMO" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>







</div>
<div class="col-sm-9 padding-right">


  <div class="features_items">
      <h2 class="title text-center">Features Items {{products.length}} </h2>
      <div class="container"  *ngFor="let product of products" >
        <a routerLink="/details/{{product.id}}">
        <div class="card">
          <div class="imgBx">
            <img src="{{ product.image }}">
          </div>
          <div class="contentBx">
            <h3 style="color: black">{{product.name}}</h3>
            <p>({{ product.condition }}) by {{ product.seller }}</p>
            <p>
              <a class="price" *ngIf="product.promotion" style="text-decoration: line-through">{{ product.price }} €</a>
              <a class="price" *ngIf="product.promotion">{{ product.price- product.price*product.promotion.discount }} €</a>
              <a class="price" *ngIf="product.promotion == null">{{ product.price }} €</a>
              <a *ngIf="product.quantity!=0" class="add-to-cart" type="submit" ><i class="fa fa-shopping-cart"><span class="add-to-cart" style="font-family: Roboto, sans-serif">Add To Cart</span></i></a>
              <a *ngIf="product.quantity==0"   href="" type="submit" > <span class="not-in-stock">Not In Stock</span></a>
            </p>


          </div>
        </div>
        </a>
      </div>



        </div>


      </div>

        <!--<div class="pagination">

    <span class="step-links">
        {% if productsList.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ productsList.previous_page_number }}">previous</a>
      {% endif %}

        <span class="current">
            Page {{ productsList.number }} of {{ productsList.paginator.num_pages }}.
        </span>

      {% if productsList.has_next %}
            <a href="?page={{ productsList.next_page_number }}">next</a>
            <a href="?page={{ productsList.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
    -->
  <!--    </div>
  </div>

</div>
</div>-->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

  $(document).ready(function(){
    $('.checkbox-child').on('click', function() {
      var $childCheckbox = $(this);
      if ($childCheckbox.is(":checked")){
        $childCheckbox
          .closest('.checkbox-container')
          .find('.checkbox-parent')
          .prop("checked", true);
      }
    });
  });
</script>
<br><br>
<br><br>
<footer id="footer">--><!--Footer-->
<!--
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Copyright © 2021 TechOn . All rights reserved.</p>
        <p class="pull-right">TPW Project</p>
      </div>
    </div>
  </div>

</footer>-->

<router-outlet></router-outlet>
