


<div class="col-sm-4" style="float:left; margin:120px">
      <!--SHOW PRODUCTS-->

      <form class="example-form" (ngSubmit)="searchRemoveAll()">

        <input id="name" type="text" [formControl]="query">
        <input type="submit">
    </form>
  <hr/>
      <p><mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select  [(value)]="category" (selectionChange)="searchRemoveAll()">
          <mat-option *ngFor="let c of CATEGORIES" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field></p>

  <p><mat-form-field appearance="fill">
    <mat-label>Brand</mat-label>
    <mat-select  [(value)]="brand" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of BRANDS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>

  <p><mat-form-field appearance="fill">
    <mat-label>Seller</mat-label>
    <mat-select  [(value)]="seller" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of SELLERS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>
  <p><mat-form-field appearance="fill">
    <mat-label>Condition</mat-label>
    <mat-select  [(value)]="condition" (selectionChange)="searchRemoveAll()">
      <mat-option *ngFor="let c of CONDITIONS" [value]="c">
        {{c}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>In Stock?</mat-label>
      <mat-select  [(value)]="inStock" (selectionChange)="searchRemoveAll()">
        <mat-option *ngFor="let c of STOCK" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Discount?</mat-label>
      <mat-select  [(value)]="inPromotion" (selectionChange)="searchRemoveAll()">
        <mat-option *ngFor="let c of PROMO" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>







</div>
<div class="col-sm-9 padding-right">


  <div class="features_items">
      <h2 class="title text-center">Features Items {{products.length}} </h2>
      <div class="container"  *ngFor="let product of products" >

        <div class="card">
          <a routerLink="/details/{{product.id}}">
          <div class="imgBx">
            <img src="{{ product.image }}">
          </div>
          </a>
          <div class="contentBx">
            <h3 style="color: black">{{product.name}}</h3>
            <p>({{ product.condition }}) by {{ product.seller }}</p>
            <p>
              <a class="price" *ngIf="product.promotion" style="text-decoration: line-through">{{ product.price }} €</a>
              <a class="price" *ngIf="product.promotion">{{ product.price- product.price*product.promotion.discount }} €</a>
              <a class="price" *ngIf="product.promotion == null">{{ product.price }} €</a>
              <a *ngIf="product.quantity!=0" (click)="addToCart(product)" class="add-to-cart" type="submit" ><i class="fa fa-shopping-cart"><span class="add-to-cart" style="font-family: Roboto, sans-serif">Add To Cart</span></i></a>
              <a *ngIf="product.quantity==0" type="submit" > <span class="not-in-stock">Not In Stock</span></a>
            </p>


          </div>
        </div>

      </div>



        </div>


      </div>



<router-outlet></router-outlet>
