.user_info label {
  color: #696763;
  display: block;
  font-size: 15px;
  font-weight: normal;
}

.user_info .single_field {
  width: 31%
}

.user_info .single_field.zip-field input {
  background: transparent;
  border: 1px solid#F0F0E9
}

.user_info>li {
  float: left;
  margin-right: 10px
}

.user_info>li>span {}

.user_info input,
select,
textarea {
  background: #F0F0E9;
  border: 0;
  color: #696763;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  resize: none
}

.user_info select:focus {
  border: 0
}

.chose_area .update {
  margin-left: 40px;
}

.update,
.check_out {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}

.update {
  margin-left: 40px;
}

.check_out {
  margin-left: 20px
}

#form-box {
  padding: 2em 3.5em;
  border-top: 50px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}

#form-title {
  font-size: 1.6em;
  padding-bottom: 6px;
  margin-bottom: 25px;
  border-bottom: 1.5px solid #e8e8e8;
}

.form-header {
  font-size: 16px;
  margin-bottom: 2px;
}

.form-input {
  width: 70%;
  height: 30px;
  font-size: 16px;
  padding-left: 6px;
}

.form-input:not(:last-child) {
  margin-bottom: 15px;
}


